.dashboard {
    background: rgb(37,34,123);
    background: linear-gradient(113deg, rgba(37,34,123,1) 44%, rgba(24,29,82,1) 99%);

    width: 95vw;
    height: 80vh;

    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    overflow-x: auto;
    overflow-y: hidden;

    border-radius: 15px;
    padding: 10px;
    gap: 7.5px;
    scrollbar-gutter: auto;
    scrollbar-color: rgba(100,100,100, 60%) transparent;
    scrollbar-arrow-color: transparent !important;

}