.task {
    margin: 1.5%;
    min-height: 100px;
    width: 97%;
    background-color: aliceblue;

    text-align: center;
}

.author {
    min-height: 100%;
    width: 100%;
}

.description {
    min-height: 7vh;
    width: 100%;
}